#p1{
    color: yellowgreen;
    font-size: 20pt;
}

.p2{
    color: violet;
    font-size: 30pt;
    font-style: italic;
}

.p3{
    color: tomato;
    font-size: x-large;
    font-style:  sans-serif;
}

.txt{
    color: rgb(189, 189, 22);
    font-size: xx-large;
}

h4,h5,h6{
    font-size: 15pt;
    font-weight: lighter;
}

